html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#mainCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#threeCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index:2;
}